body.light-mode {
    background-color: white;
    color: black;
}
body.dark-mode {
    background-color: black;
    color: white;
}

body.gray-mode {
    background-color: #333;
    color: white;
}

#perfil.light-mode, #seguranca.light-mode, #tema.light-mode {
    background-color: white;
    color: #333;
}

#perfil.dark-mode, #seguranca.dark-mode, #tema.dark-mode {
    background-color: black;
    color: white;
}

#perfil.gray-mode, #seguranca.gray-mode, #tema.gray-mode {
    background-color: #333;
    color: white;
}

table{
    width:  70%;
    height: 500px;
}

#change {
    width: 85%;
}

#perfil.light-mode:hover, #seguranca.light-mode:hover, #tema.light-mode:hover{
    background: #9f9f9f;
    color: #fff;
    box-shadow: 0 3px 10px 0 #CCC;
    text-shadow: 0px 0px 5px #fff;
}

#perfil.dark-mode:hover, #seguranca.dark-mode:hover, #tema.dark-mode:hover{
    background: white;
    color: black;
    box-shadow: 0 3px 10px 0 #CCC;
    text-shadow: 0px 0px 5px #fff;
}

#perfil.gray-mode:hover, #seguranca.gray-mode:hover, #tema.gray-mode:hover{
    background: #222;
    color: #fff;
    box-shadow: 0 3px 10px 0 #CCC;
    text-shadow: 0px 0px 5px #fff;
}